:root {
    --special-color: rgb(6, 147, 147);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --message-left: rgb(102, 102, 102);
    --message-right: rgb(6, 101, 101);
    --chat-block: rgb(4, 88, 88);
    --text-whitesmok: rgb(245, 245, 245);
    --text-whiteopacity: rgb(178, 172, 172);
    --inputs-dark: rgb(44, 44, 44);
    --placeholder-dark: rgb(96, 91, 91);
}
